<table>
	<tr>
		<td>
			<div id="menupanel">
				<p>Add measurement for:</p>
				<p id="gender" class="meemabbutton">Gender</p>
				<p id="neck" class="meemabbutton">Neck</p>
				<p id="arm" class="meemabbutton">Arm</p>
				<p id="chest" class="meemabbutton">Chest</p>
				<p id="waist" class="meemabbutton">Waist</p>
				<p id="ileg" class="meemabbutton">Inner leg</p>
				<p id="feet" class="meemabbutton">Feet</p>
			</div>
		</td>
		<td>
			<div id="visualpanel">
				<img src="img/bodymetrics.jpg">
			</div>
		</td>
		<td>
			<div id="contentpanel"></div>
		</td>
	</tr>
</table>
