####################################################
[Game]
####################################################
showstats=0

maxvisibleworldsize=8	# see max 8 meters on screen
worldmargin=2			# add 3 meters of margin around the wold

bodies=bodies.xml
levels=levels.xml

httpbodies="http://dl.dropbox.com/s/3igckh08mxx9gy4/bodies.xml?dl=1"
httplevels="http://dl.dropbox.com/s/rk4wvu0f2k8bmpy/levels.xml?dl=1"

introsong="music/Port Saint Johns.mp3"
levelsong="music/Based On Clocks.mp3"
wonsong="music/Winning.mp3"
lostsong="music/Lost.mp3"

webviewexts=htm;html
videoviewexts=m4v;mp4;jpg


####################################################
[Util]
####################################################
#MemoryBreakpoint=119206

####################################################
[TRACE]
####################################################
GX_VERBOSE=0
LOADER=0
MEMORY=0
DEVICE=0
EXT=0
MYAPP=1

####################################################
[S3E]
####################################################
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0

SplashScreenWidth=480
SplashScreenHeight=320
SplashScreenMinTime=1000
SplashScreenFile=splashscreen-320x480.jpg

IOSDispScaleFactor=200
DispFixRot=2

MemSize=45000000
MemSizeDebug=40000000

SysTraceToFile=0

#KeyAbsLeft=Left
#KeyAbsRight=Right
#KeyAbsUp=Up
#KeyAbsDown=Down

KeyAbsGameA=P			# pause/resume
KeyAbsGameB=R			# restart
KeyAbsGameC=Backspace	# reload
KeyAbsGameD=Esc			# quit

KeyAbsOk=Enter			# not used
KeyAbsASK=T				# not used
KeyAbsBSK=B				# not used

####################################################
[Gx]
####################################################
DataCacheSize=262144
#DisplayFrameRate=1
NumTPages=256
NumU256PaletteCacheBlocks=32
VertCacheSize=4096

####################################################
[GxFont]
####################################################
CacheTextureMaxSize=256

####################################################
[GL]
####################################################
EGL_SAMPLE_BUFFERS=1
EGL_SAMPLES=4			# Use super-sampling if available. Change to 2 for cheaper multi-sampling

