.DS_Store
.svn

data-ram

Stars
Stars/build_stars_vc11/
Stars/build_stars_xcode/
Stars/artwork/

Kidpuzzle
Kidpuzzle/build_kidpuzzle_vc11/
Kidpuzzle/build_kidpuzzle_xcode/
Kidpuzzle/artwork/

Gnomes
Gnomes/build_gnomes_vc11/
Gnomes/build_gnomes_xcode/
Gnomes/artwork/

Warships
Warships/app/build_warships_vc11/
Warships/app/build_warships_xcode/

Kidbook/build_kidbook_vc11/
Kidbook/build_kidbook_xcode/
Kidbook/originals/
Kidbook/dist/
