<config platform="android-arm-x86-mb" template="android-arm-x86-mb (default)">Created: Mon Nov 10 09:04:27 2014
By: oliver
Using Template: android-arm-x86-mb (default)

&lt;description to go here><option name="android-icon-dir" value="data/icons" fromDef="false"/>
    <option name="android-icon-group" value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>;-xxhdpi;&lt;generate>;-xxxhdpi;&lt;generate>" fromDef="false"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="deploy/android/res" fromDef="false"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.gigglingbits.stars" fromDef="false"/>
    <option name="android-external-assets" value="" fromDef="true"/>
    <option name="icon" value="data/icons/" fromDef="false"/>
    <option name="splashscreen" value="data/splashscreens/" fromDef="false"/>
    <option name="splashscreen-use-all" value="1" fromDef="false"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="1" fromDef="false"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Stars" fromDef="true"/>
    <option name="caption" value="Stars" fromDef="true"/>
    <option name="provider" value="Giggling Bits" fromDef="true"/>
    <option name="copyright" value="(C) 2014 by Giggling Bits" fromDef="false"/>
    <option name="version" value="1.1.0" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="deploy/android/AndroidManifest.xml" fromDef="false"/>
    <option name="android-custom-activity" value="ideaworks3d.marmalade.s3egoogleplaygames.s3eGooglePlayGamesActivity" fromDef="false"/>
    <option name="android-extra-manifest" value="" fromDef="true"/>
    <option name="android-extra-application-manifest" value="" fromDef="true"/>
    <option name="android-extra-strings" value="" fromDef="true"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
