<config template="android-arm-x86-mb (default)" platform="android-arm-x86-mb">Created: Mon Nov 10 09:04:27 2014
By: oliver
Using Template: android-arm-x86-mb (default)

&lt;description to go here><option name="android-icon-dir" fromDef="false" value="data/icons"/>
    <option name="android-icon-group" fromDef="false" value="-ldpi;&lt;generate>;-mdpi;&lt;generate>;-hdpi;&lt;generate>;-xhdpi;&lt;generate>;-xxhdpi;&lt;generate>;-xxxhdpi;&lt;generate>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="false" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="false" value="com.gigglingbits.stars"/>
    <option name="android-external-assets" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="data/icons/"/>
    <option name="splashscreen" fromDef="false" value="data/splashscreens/"/>
    <option name="splashscreen-use-all" fromDef="false" value="1"/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stars"/>
    <option name="caption" fromDef="true" value="Stars"/>
    <option name="provider" fromDef="true" value="Giggling Bits"/>
    <option name="copyright" fromDef="true" value="(C) Giggling Bits"/>
    <option name="version" fromDef="true" value="1.1.0"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="false" value="deploy/android/AndroidManifest.xml"/>
    <option name="android-custom-activity" fromDef="false" value=""/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value=""/>
    <option name="android-extra-strings" fromDef="true" value=""/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
    <option name="android-tm" fromDef="true" value=""/>
</config>
