<config template="iphone (default)" platform="iphone">Created: Thu Oct 24 21:43:50 2013
By: oliver
Using Template: iphone (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="false"/>
    <option value="com.gigglingbits.stars" name="iphone-appid" fromDef="false"/>
    <option value="data/icons" name="iphone-icon-dir" fromDef="false"/>
    <option value="-76;&lt;generate>;-120;&lt;generate>;-76@2x;&lt;generate>" name="iphone-icon-7-group" fromDef="false"/>
    <option value="-Small;&lt;generate>;-Small-40;&lt;generate>;-Small@2x;&lt;generate>;-Small-40@2x;&lt;generate>" name="iphone-icon-7-search-group" fromDef="false"/>
    <option value="1" name="iphone-prerendered-icon" fromDef="false"/>
    <option value="data/splashscreens" name="iphone-splash-dir" fromDef="false"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="~iphone;&lt;generate>;@2x~iphone;&lt;generate>;-568h@2x~iphone;&lt;none>" name="iphone-splash-group-iphone" fromDef="false"/>
    <option value="-Portrait~ipad;&lt;generate>;-PortraitUpsideDown~ipad;&lt;generate>;-Landscape~ipad;&lt;generate>;-LandscapeRight~ipad;&lt;generate>;-Portrait@2x~ipad;&lt;generate>;-PortraitUpsideDown@2x~ipad;&lt;generate>;-Landscape@2x~ipad;&lt;generate>;-LandscapeRight@2x~ipad;&lt;generate>" name="iphone-splash-group-ipad" fromDef="false"/>
    <option value="data/icons" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Stars" name="name" fromDef="true"/>
    <option value="Stars" name="caption" fromDef="true"/>
    <option value="Giggling Bits" name="provider" fromDef="true"/>
    <option value="(C) Giggling Bits" name="copyright" fromDef="true"/>
    <option value="1.0.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value=";&lt;generate>;-72;&lt;generate>;@2x;&lt;generate>;-72@2x;&lt;generate>" name="iphone-icon-group" fromDef="false"/>
    <option value="-Small;&lt;generate>;-Small-50;&lt;generate>;-Small@2x;&lt;generate>;-Small-50@2x;&lt;generate>" name="iphone-icon-search-group" fromDef="false"/>
    <option value="" name="iphone-nosign" fromDef="false"/>
    <option value="" name="iphone-sign-for-distribution" fromDef="false"/>
    <option value="" name="iphone-provisioning-profile" fromDef="false"/>
    <option value="" name="iphone-signing-identity" fromDef="false"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
</config>
