<config template="iphone-fat (default)" platform="iphone-fat">Created: Wed Feb 25 23:07:54 2015
By: oliver
Using Template: iphone-fat (default)

&lt;description to go here><option value="&quot;universal&quot;" fromDef="true" name="iphone-application-type"/>
    <option value="com.gigglingbits.stars" fromDef="false" name="iphone-appid"/>
    <option value="6.0" fromDef="false" name="iphone-minimum-ios-version"/>
    <option value="" fromDef="false" name="iphone-show-status-bar"/>
    <option value="" fromDef="true" name="iphone-uiviewcontroller-based-status-bar"/>
    <option value="data/icons" fromDef="false" name="iphone-icon-dir"/>
    <option value="1" fromDef="false" name="iphone-prerendered-icon"/>
    <option value="" fromDef="true" name="iphone-icon-extra"/>
    <option value="" fromDef="true" name="iphone-skip-icon-generation"/>
    <option value="" fromDef="false" name="iphone-skip-launch-generation"/>
    <option value="data/splashscreens" fromDef="false" name="iphone-launch-dir"/>
    <option value="" fromDef="true" name="iphone-launch-storyboard"/>
    <option value="" fromDef="false" name="iphone-launch-extra"/>
    <option value="" fromDef="true" name="iphone-disable-launch-images"/>
    <option value="" fromDef="true" name="iphone-allow-launch-rotation"/>
    <option value="data/icons" fromDef="false" name="icon"/>
    <option value="data/splashscreens" fromDef="false" name="splashscreen"/>
    <option value="1" fromDef="false" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="1" fromDef="false" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Stars" fromDef="true" name="name"/>
    <option value="Stars" fromDef="true" name="caption"/>
    <option value="Giggling Bits" fromDef="true" name="provider"/>
    <option value="(C) 2014-2015 Giggling Bits" fromDef="false" name="copyright"/>
    <option value="1.1.3" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="itunes-artwork"/>
    <option value="English" fromDef="true" name="iphone-region"/>
    <option value="" fromDef="false" name="iphone-info-plist"/>
    <option value="" fromDef="true" name="iphone-persistent-wifi"/>
    <option value="" fromDef="true" name="iphone-backgroundmode-audio"/>
    <option value="" fromDef="true" name="iphone-app-fonts"/>
    <option value="" fromDef="true" name="iphone-bundle-localisations"/>
    <option value="" fromDef="true" name="iphone-bundle-url-name"/>
    <option value="" fromDef="true" name="iphone-bundle-url-schemes"/>
    <option value="" fromDef="true" name="iphone-info-plist-override"/>
    <option value="" fromDef="true" name="iphone-extra-string"/>
    <option value="" fromDef="true" name="iphone-info-plist-sniplets"/>
    <option value="" fromDef="false" name="iphone-nosign"/>
    <option value="" fromDef="false" name="iphone-sign-for-distribution"/>
    <option value="deploy/iOS/Development_Stars.mobileprovision" fromDef="false" name="iphone-provisioning-profile"/>
    <option value="" fromDef="false" name="iphone-signing-identity"/>
    <option value="" fromDef="false" name="iphone-disable-testflight"/>
    <option value="1" fromDef="false" name="iphone-testflight"/>
</config>
