<config template="iphone (default)" platform="iphone">Created: Thu Oct 24 21:43:50 2013
By: oliver
Using Template: iphone (default)

&lt;description to go here><option value="&quot;universal&quot;" fromDef="false" name="iphone-application-type"/>
    <option value="com.gigglingbits.stars" fromDef="false" name="iphone-appid"/>
    <option value="data/icons" fromDef="false" name="iphone-icon-dir"/>
    <option value="-76;&lt;generate>;-120;&lt;generate>;-76@2x;&lt;generate>" fromDef="false" name="iphone-icon-7-group"/>
    <option value="-Small;&lt;generate>;-Small-40;&lt;generate>;-Small@2x;&lt;generate>;-Small-40@2x;&lt;generate>" fromDef="false" name="iphone-icon-7-search-group"/>
    <option value="1" fromDef="false" name="iphone-prerendered-icon"/>
    <option value="data/splashscreens" fromDef="false" name="iphone-splash-dir"/>
    <option value="" fromDef="true" name="iphone-show-status-bar"/>
    <option value="~iphone;&lt;generate>;@2x~iphone;&lt;generate>;-568h@2x~iphone;&lt;none>" fromDef="false" name="iphone-splash-group-iphone"/>
    <option value="-Portrait~ipad;&lt;generate>;-PortraitUpsideDown~ipad;&lt;generate>;-Landscape~ipad;&lt;generate>;-LandscapeRight~ipad;&lt;generate>;-Portrait@2x~ipad;&lt;generate>;-PortraitUpsideDown@2x~ipad;&lt;generate>;-Landscape@2x~ipad;&lt;generate>;-LandscapeRight@2x~ipad;&lt;generate>" fromDef="false" name="iphone-splash-group-ipad"/>
    <option value="data/icons" fromDef="false" name="icon"/>
    <option value="" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="1" fromDef="false" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Stars" fromDef="true" name="name"/>
    <option value="Stars" fromDef="true" name="caption"/>
    <option value="Giggling Bits" fromDef="true" name="provider"/>
    <option value="(C) 2014 by Giggling Bits" fromDef="false" name="copyright"/>
    <option value="1.0.4" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="itunes-artwork"/>
    <option value=";&lt;generate>;-72;&lt;generate>;@2x;&lt;generate>;-72@2x;&lt;generate>" fromDef="false" name="iphone-icon-group"/>
    <option value="-Small;&lt;generate>;-Small-50;&lt;generate>;-Small@2x;&lt;generate>;-Small-50@2x;&lt;generate>" fromDef="false" name="iphone-icon-search-group"/>
    <option value="" fromDef="false" name="iphone-nosign"/>
    <option value="" fromDef="false" name="iphone-sign-for-distribution"/>
    <option value="deploy/iOS/Development_Stars.mobileprovision" fromDef="false" name="iphone-provisioning-profile"/>
    <option value="" fromDef="false" name="iphone-signing-identity"/>
    <option value="English" fromDef="true" name="iphone-region"/>
    <option value="" fromDef="true" name="iphone-info-plist"/>
    <option value="" fromDef="true" name="iphone-persistent-wifi"/>
    <option value="" fromDef="true" name="iphone-backgroundmode-audio"/>
    <option value="" fromDef="true" name="iphone-app-fonts"/>
    <option value="" fromDef="true" name="iphone-bundle-localisations"/>
    <option value="" fromDef="true" name="iphone-bundle-url-name"/>
    <option value="" fromDef="true" name="iphone-bundle-url-schemes"/>
</config>
