<config template="iphone (default)" platform="iphone">Created: Thu Oct 24 21:43:50 2013
By: oliver
Using Template: iphone (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="false"/>
    <option value="com.gigglingbits.stars" name="iphone-appid" fromDef="false"/>
    <option value="4.3" name="iphone-minimum-ios-version" fromDef="true"/>
    <option value="" name="iphone-show-status-bar" fromDef="false"/>
    <option value="" name="iphone-uiviewcontroller-based-status-bar" fromDef="true"/>
    <option value="data/icons/" name="iphone-icon-dir" fromDef="false"/>
    <option value="1" name="iphone-prerendered-icon" fromDef="false"/>
    <option value="" name="iphone-icon-extra" fromDef="true"/>
    <option value="" name="iphone-skip-icon-generation" fromDef="true"/>
    <option value="" name="iphone-skip-launch-generation" fromDef="false"/>
    <option value="data/splashscreens/" name="iphone-launch-dir" fromDef="false"/>
    <option value="" name="iphone-launch-storyboard" fromDef="true"/>
    <option value="" name="iphone-launch-extra" fromDef="false"/>
    <option value="data/icons/" name="icon" fromDef="false"/>
    <option value="data/splashscreens/" name="splashscreen" fromDef="false"/>
    <option value="1" name="splashscreen-use-all" fromDef="false"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Stars" name="name" fromDef="true"/>
    <option value="Stars" name="caption" fromDef="true"/>
    <option value="Giggling Bits" name="provider" fromDef="true"/>
    <option value="(C) 2014 by Giggling Bits" name="copyright" fromDef="false"/>
    <option value="1.0.14" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="false"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="true"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
    <option value="" name="iphone-nosign" fromDef="false"/>
    <option value="" name="iphone-sign-for-distribution" fromDef="false"/>
    <option value="deploy/iOS/Development_Stars.mobileprovision" name="iphone-provisioning-profile" fromDef="false"/>
    <option value="" name="iphone-signing-identity" fromDef="false"/>
</config>
