<config template="iphone-fat (default)" platform="iphone-fat">Created: Thu Oct 24 21:43:50 2013
By: oliver
Using Template: iphone-fat (default)

&lt;description to go here><option name="iphone-application-type" fromDef="false" value="&quot;universal&quot;"/>
    <option name="iphone-appid" fromDef="false" value="com.gigglingbits.stars"/>
    <option name="iphone-minimum-ios-version" fromDef="false" value=""/>
    <option name="iphone-show-status-bar" fromDef="false" value=""/>
    <option name="iphone-uiviewcontroller-based-status-bar" fromDef="true" value=""/>
    <option name="iphone-icon-dir" fromDef="false" value="data/icons"/>
    <option name="iphone-prerendered-icon" fromDef="false" value="1"/>
    <option name="iphone-icon-extra" fromDef="true" value=""/>
    <option name="iphone-skip-icon-generation" fromDef="true" value=""/>
    <option name="iphone-skip-launch-generation" fromDef="false" value=""/>
    <option name="iphone-launch-dir" fromDef="false" value="data/splashscreens"/>
    <option name="iphone-launch-storyboard" fromDef="true" value=""/>
    <option name="iphone-launch-extra" fromDef="false" value=""/>
    <option name="iphone-disable-launch-images" fromDef="true" value=""/>
    <option name="iphone-allow-launch-rotation" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="data/icons"/>
    <option name="splashscreen" fromDef="false" value="data/splashscreens"/>
    <option name="splashscreen-use-all" fromDef="false" value="1"/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stars"/>
    <option name="caption" fromDef="true" value="Stars"/>
    <option name="provider" fromDef="true" value="Giggling Bits"/>
    <option name="copyright" fromDef="true" value="(C) Giggling Bits"/>
    <option name="version" fromDef="true" value="1.1.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="itunes-artwork" fromDef="true" value=""/>
    <option name="iphone-region" fromDef="true" value="English"/>
    <option name="iphone-info-plist" fromDef="false" value=""/>
    <option name="iphone-persistent-wifi" fromDef="true" value=""/>
    <option name="iphone-backgroundmode-audio" fromDef="true" value=""/>
    <option name="iphone-app-fonts" fromDef="true" value=""/>
    <option name="iphone-bundle-localisations" fromDef="true" value=""/>
    <option name="iphone-bundle-url-name" fromDef="true" value=""/>
    <option name="iphone-bundle-url-schemes" fromDef="true" value=""/>
    <option name="iphone-info-plist-override" fromDef="true" value=""/>
    <option name="iphone-extra-string" fromDef="true" value=""/>
    <option name="iphone-info-plist-sniplets" fromDef="true" value=""/>
    <option name="iphone-nosign" fromDef="false" value=""/>
    <option name="iphone-sign-for-distribution" fromDef="false" value=""/>
    <option name="iphone-provisioning-profile" fromDef="false" value="deploy/iOS/Development_Stars.mobileprovision"/>
    <option name="iphone-signing-identity" fromDef="false" value=""/>
    <option name="iphone-disable-testflight" fromDef="true" value=""/>
    <option name="iphone-testflight" fromDef="true" value=""/>
</config>
