<config template="playbook (default)" platform="playbook">Created: Thu Oct 31 14:19:17 2013
By: oliver
Using Template: playbook (default)

&lt;description to go here><option fromDef="true" name="blackberry-author" value=""/>
    <option fromDef="true" name="blackberry-authorid" value=""/>
    <option fromDef="true" name="blackberry-permissions-access-shared" value=""/>
    <option fromDef="true" name="blackberry-hostname" value=""/>
    <option fromDef="true" name="blackberry-password" value=""/>
    <option fromDef="true" name="icon" value=""/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="true" name="embed-icf" value=""/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Stars"/>
    <option fromDef="true" name="caption" value="Stars"/>
    <option fromDef="true" name="provider" value="Giggling Bits"/>
    <option fromDef="true" name="copyright" value="(C) Giggling Bits"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="blackberry-playbook-icon" value=""/>
</config>
