<config platform="playbook" template="playbook (default)">Created: Thu Oct 31 14:19:17 2013
By: oliver
Using Template: playbook (default)

&lt;description to go here><option name="blackberry-author" value="" fromDef="true"/>
    <option name="blackberry-authorid" value="" fromDef="true"/>
    <option name="blackberry-hostname" value="" fromDef="true"/>
    <option name="blackberry-password" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Stars" fromDef="true"/>
    <option name="caption" value="Stars" fromDef="true"/>
    <option name="provider" value="Giggling Bits" fromDef="true"/>
    <option name="copyright" value="(C) Giggling Bits" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="blackberry-playbook-icon" value="" fromDef="true"/>
    <option name="blackberry-permissions-access-shared" value="" fromDef="true"/>
    <option name="blackberry-permissions-access-internet" value="" fromDef="true"/>
    <option name="blackberry-permissions-post-notification" value="" fromDef="true"/>
    <option name="blackberry-permissions-read-device-identifying-information" value="" fromDef="true"/>
    <option name="blackberry-permissions-read-geolocation" value="" fromDef="true"/>
    <option name="blackberry-permissions-record-audio" value="" fromDef="true"/>
    <option name="blackberry-permissions-use-camera" value="" fromDef="true"/>
</config>
