<config template="playbook (default)" platform="playbook">Created: Thu Oct 31 14:19:17 2013
By: oliver
Using Template: playbook (default)

&lt;description to go here><option name="blackberry-author" fromDef="true" value=""/>
    <option name="blackberry-authorid" fromDef="true" value=""/>
    <option name="blackberry-hostname" fromDef="true" value=""/>
    <option name="blackberry-password" fromDef="true" value=""/>
    <option name="icon" fromDef="true" value=""/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="true" value=""/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stars"/>
    <option name="caption" fromDef="true" value="Stars"/>
    <option name="provider" fromDef="true" value="Giggling Bits"/>
    <option name="copyright" fromDef="true" value="(C) Giggling Bits"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="blackberry-playbook-icon" fromDef="true" value=""/>
    <option name="blackberry-permissions-access-shared" fromDef="true" value=""/>
    <option name="blackberry-permissions-access-internet" fromDef="true" value=""/>
    <option name="blackberry-permissions-post-notification" fromDef="true" value=""/>
    <option name="blackberry-permissions-read-device-identifying-information" fromDef="true" value=""/>
    <option name="blackberry-permissions-read-geolocation" fromDef="true" value=""/>
    <option name="blackberry-permissions-record-audio" fromDef="true" value=""/>
    <option name="blackberry-permissions-use-camera" fromDef="true" value=""/>
</config>
