<config template="project (default)" platform="project">Created: Thu Oct 24 21:35:43 2013
By: oliver
Using Template: project (default)

&lt;description to go here><option name="icon" fromDef="false" value="data/icons/"/>
    <option name="splashscreen" fromDef="false" value="data/splashscreens/"/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Stars"/>
    <option name="caption" fromDef="true" value="Stars"/>
    <option name="provider" fromDef="true" value="Giggling Bits"/>
    <option name="copyright" fromDef="false" value="(C) 2014 by Giggling Bits"/>
    <option name="version" fromDef="true" value="0.0.1"/>
    <option name="version-string" fromDef="true" value=""/>
</config>
