<config platform="project" template="project (default)">Created: Thu Oct 24 21:35:43 2013
By: oliver
Using Template: project (default)

&lt;description to go here><option value="data/icons/" name="icon" fromDef="false"/>
    <option value="data/splashscreens/" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Stars" name="name" fromDef="true"/>
    <option value="Stars" name="caption" fromDef="true"/>
    <option value="Giggling Bits" name="provider" fromDef="true"/>
    <option value="(C) 2014 by Giggling Bits" name="copyright" fromDef="false"/>
    <option value="1.0.5" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
