<config template="project (default)" platform="project">Created: Thu Oct 24 21:35:43 2013
By: oliver
Using Template: project (default)

&lt;description to go here><option fromDef="false" name="icon" value="data/icons/"/>
    <option fromDef="false" name="splashscreen" value="data/splashscreens/"/>
    <option fromDef="false" name="splashscreen-use-all" value="1"/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="false" name="embed-icf" value="1"/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Stars"/>
    <option fromDef="true" name="caption" value="Stars"/>
    <option fromDef="true" name="provider" value="Giggling Bits"/>
    <option fromDef="false" name="copyright" value="(C) 2014 by Giggling Bits"/>
    <option fromDef="false" name="version" value="1.0.12"/>
    <option fromDef="true" name="version-string" value=""/>
</config>
