<config platform="tizen" template="tizen (default)">Created: Thu Nov 7 22:54:56 2013
By: oliver
Using Template: tizen (default)

&lt;description to go here><option value="" fromDef="true" name="tizen-icon"/>
    <option value="" fromDef="true" name="tizen-appid"/>
    <option value="" fromDef="true" name="tizen-manifest"/>
    <option value="" fromDef="true" name="tizen-hw-acceleration"/>
    <option value="" fromDef="true" name="tizen-signed"/>
    <option value="" fromDef="true" name="tizen-author-key"/>
    <option value="" fromDef="true" name="tizen-author-password"/>
    <option value="" fromDef="true" name="tizen-device-id"/>
    <option value="data/icons/" fromDef="false" name="icon"/>
    <option value="data/splashscreens/" fromDef="false" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="1" fromDef="false" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Stars" fromDef="true" name="name"/>
    <option value="Stars" fromDef="true" name="caption"/>
    <option value="Giggling Bits" fromDef="true" name="provider"/>
    <option value="(C) 2013 by Giggling Bits" fromDef="false" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
    <option value="" fromDef="true" name="tizen-project-url"/>
    <option value="" fromDef="true" name="tizen-author-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist1-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist1-key"/>
    <option value="" fromDef="true" name="tizen-dist1-password"/>
    <option value="" fromDef="true" name="tizen-dist2-CA-path"/>
    <option value="" fromDef="true" name="tizen-dist2-key"/>
    <option value="" fromDef="true" name="tizen-dist2-password"/>
    <option value="" fromDef="true" name="tizen-dist2-CA-root-path"/>
</config>
