<config platform="" template=""><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="" name="config"/>
    <option fromDef="true" value="Stars" name="name"/>
    <option fromDef="true" value="Stars" name="caption"/>
    <option fromDef="true" value="kenneth-2650" name="provider"/>
    <option fromDef="true" value="(C) kenneth-2650" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
