<config platform="tizen" template="tizen (default)">Created: Thu Nov 7 22:54:56 2013
By: oliver
Using Template: tizen (default)

&lt;description to go here><option fromDef="true" name="tizen-icon" value=""/>
    <option fromDef="true" name="tizen-appid" value=""/>
    <option fromDef="true" name="tizen-manifest" value=""/>
    <option fromDef="true" name="tizen-hw-acceleration" value=""/>
    <option fromDef="true" name="tizen-signed" value=""/>
    <option fromDef="true" name="tizen-device-id" value=""/>
    <option fromDef="false" name="icon" value="data/icons/"/>
    <option fromDef="false" name="splashscreen" value="data/splashscreens/"/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="false" name="embed-icf" value="1"/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Stars"/>
    <option fromDef="true" name="caption" value="Stars"/>
    <option fromDef="true" name="provider" value="Giggling Bits"/>
    <option fromDef="false" name="copyright" value="(C) 2013 by Giggling Bits"/>
    <option fromDef="true" name="version" value="0.0.1"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="tizen-project-url" value=""/>
    <option fromDef="true" name="tizen-author-key" value=""/>
    <option fromDef="true" name="tizen-author-password" value=""/>
    <option fromDef="true" name="tizen-author-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist1-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist1-key" value=""/>
    <option fromDef="true" name="tizen-dist1-password" value=""/>
    <option fromDef="true" name="tizen-dist2-CA-path" value=""/>
    <option fromDef="true" name="tizen-dist2-key" value=""/>
    <option fromDef="true" name="tizen-dist2-password" value=""/>
    <option fromDef="true" name="tizen-dist2-CA-root-path" value=""/>
</config>
