####################################################
[Game]
####################################################
showstats=0
showshapes=0
unlockall=0

resourceheapsize=25		# in megabytes

maxvisibleworldsize=8	# see max 20 meters on screen
worldmargin=2			# add 2 meters of margin around the wold
gravity=-15.0			# m/s2

starbirthdelay=1400		# milliseconds

buffspeed=0.5			# meters per second
buffshieldduration=4000 # milliseconds
buffmagnetduration=2000 # milliseconds
buffshootduration=800	# milliseconds
buffshootcount=3		# count

pathspeed=12			# meters per second
pathmaxlength=40		# max length of the path in meters

bodies=bodies.xml
levels=levels.xml

httpbodies="http://dl.dropboxusercontent.com/s/nfbwqecmxdmvgyr/bodies.xml?dl=1"
httplevels="http://dl.dropboxusercontent.com/s/45jchfbc4wdbgsx/levels.xml?dl=1"

facebookpage="http://www.facebook.com/1447726568800401"

intromovie="stories/intro.mp4"
menusong="music/jst.Port_Saint_Johns.mp3"
levelsong="music/csc.Empire_Games.mp3"

appfont=fonts/JellyBellyEx.ttf
sysfont=fonts/Tempesta.ttf

settingsfile=settings.xml

{OS=iphone}
	flurrykey="DD6GS77SP2NSG6D9JVVQ"
	leaderboardkey="com.gigglingbits.stars.leaders"
{OS=android}
	flurrykey="XF7R4VWFXX6BVWYJPSTV"
	leaderboardkey="CgkI_NabrbgCEAIQAQ"
{}

achibirdkillsval=5
achifulllifeval=5
achibuffmagnetsval=5
achibuffshieldsval=5
achibuffshotsval=5

{OS=iphone}
	achifulllifekey="com.gigglingbits.stars.achi.fulllife.1"
	achibirdkillskey="com.gigglingbits.stars.achi.birdkills.1"
	achibuffmagnetskey="com.gigglingbits.stars.achi.buffmagnets.1"
	achibuffshieldskey="com.gigglingbits.stars.achi.buffshields.1"
	achibuffshotskey="com.gigglingbits.stars.achi.buffshots.1"
{OS=android}
	achifulllifekey=""
	achibirdkillskey=""
	achibuffmagnetskey=""
	achibuffshieldskey=""
	achibuffshotskey=""
{}


####################################################
[Util]
####################################################
#MemoryBreakpoint=21203

####################################################
[TRACE]
####################################################
MYAPP=1

GX_VERBOSE=0
LOADER=0
MEMORY=0
DEVICE=0
EXT=0

DERBH=0
DERBH_VERBOSE=0

IOSGAMECENTER=0
IOSGAMECENTER_VERBOSE=0

GOOGLEPLAYGAMES=1
GOOGLEPLAYGAMES_VERBOSE=1

LOCATIONSERVICES=0

GYROSCOPE=0
GYROSCOPE_VERBOSE=0


####################################################
[S3E]
####################################################
MemSize=35000000			# main heap; the resource heap in Main.cpp must also fit in here (set by resourceheapsize)
MemSizeDebug=38000000		# debug / resource builder

#SplashscreenBkR=0
#SplashscreenBkG=0
#SplashscreenBkB=0
#SplashScreenMinTime=4000
#SplashScreenAutoMinTime=2000

IOSDispScaleFactor=200
#DispFixRot=FixedLandscape	# locked because of the gyroscope
DispFixRot=Landscape

SysTraceToFile=0

KeyAbsOk=Enter

KeyAbsLeft=Left
KeyAbsRight=Right
KeyAbsUp=Up
KeyAbsDown=Down

KeyAbsGameA=P			# pause/resume
KeyAbsGameB=R			# restart
KeyAbsGameC=Backspace	# reload
KeyAbsGameD=Esc			# quit

KeyAbsASK=T				# not used
KeyAbsBSK=B				# not used

{OS=android}
	KeyAbsGameA=Menu
	KeyAbsGameD=Back
{}

####################################################
[RESMANAGER]
####################################################
#ResBuildStyle=gles1-pvrtc
ResBuildStyle=gles1
#ResBuild=1
UseDependencies=1 

####################################################
[Gx]
####################################################
DataCacheSize=1048576
VertCacheSize=4096

####################################################
[GxFont]
####################################################
CacheTextureMaxSize=1024

####################################################
[GL]
####################################################
EGL_SAMPLE_BUFFERS=1
EGL_SAMPLES=4			# Use super-sampling if available. Change to 2 for cheaper multi-sampling

#{OS=android}
#EGL_RED_SIZE=8
#EGL_GREEN_SIZE=8
#EGL_BLUE_SIZE=8
#EGL_ALPHA_SIZE=8
#EGL_DEPTH_SIZE=24
#AndroidSurfaceHolder=1
#{}
