####################################################
[Game]
####################################################
showstats=0
unlockall=1

maxvisibleworldsize=8	# see max 20 meters on screen
worldmargin=2			# add 2 meters of margin around the wold

buffspeed=0.5			# meters per second

pathspeed=12			# meters per second
pathmaxlength=50		# max length of the path in meters

bodies=bodies.xml
levels=levels.xml

httpbodies="http://dl.dropboxusercontent.com/s/3igckh08mxx9gy4/bodies.xml?dl=1"
httplevels="http://dl.dropboxusercontent.com/s/rk4wvu0f2k8bmpy/levels.xml?dl=1"

facebookpage="http://www.facebook.com/1447726568800401"

intromovie="stories/intro.mp4"
menusong="music/jst.Port_Saint_Johns.mp3"
levelsong="music/csc.Empire_Games.mp3"

settingsfile=settings.xml

####################################################
[Util]
####################################################
#MemoryBreakpoint=21203

####################################################
[TRACE]
####################################################
GX_VERBOSE=0
LOADER=0
MEMORY=0
DEVICE=0
EXT=0
MYAPP=1

####################################################
[S3E]
####################################################
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0

IOSDispScaleFactor=200
#DispFixRot=FixedLandscape	# locked because of the gyroscope
DispFixRot=Landscape		# locked because of the gyroscope

MemSize=18000000			# main heap; the resource heap in Main.cpp must also fit in here
MemSizeDebug=38000000		# debug / resource builder

SysTraceToFile=0

KeyAbsOk=Enter

KeyAbsLeft=Left
KeyAbsRight=Right
KeyAbsUp=Up
KeyAbsDown=Down

KeyAbsGameA=P			# pause/resume
KeyAbsGameB=R			# restart
KeyAbsGameC=Backspace	# reload
KeyAbsGameD=Esc			# quit

KeyAbsASK=T				# not used
KeyAbsBSK=B				# not used

{OS=android}
KeyAbsGameA=Menu
KeyAbsGameD=Back
{}

####################################################
[RESMANAGER]
####################################################
#ResBuildStyle=gles1-pvrtc
ResBuildStyle=gles1
#ResBuild=1
UseDependencies=1 

####################################################
[Gx]
####################################################
DataCacheSize=524288
VertCacheSize=4096

####################################################
[GxFont]
####################################################
CacheTextureMaxSize=512

####################################################
[GL]
####################################################
EGL_SAMPLE_BUFFERS=1
EGL_SAMPLES=4			# Use super-sampling if available. Change to 2 for cheaper multi-sampling

{OS=android}
EGL_RED_SIZE=8
EGL_GREEN_SIZE=8
EGL_BLUE_SIZE=8
EGL_ALPHA_SIZE=8
EGL_DEPTH_SIZE=24
AndroidSurfaceHolder=1
{}
