####################################################
[Game]
####################################################
rebuildresources=1
showstats=0

maxvisibleworldsize=8	# see max 20 meters on screen
worldmargin=2			# add 2 meters of margin around the wold

objectspeed=4			# meters per second
pathspeed=15			# meters per second
pathmaxlength=50		# max length of the path in meters

bodies=bodies.xml
levels=levels.xml

httpbodies="http://dl.dropbox.com/s/3igckh08mxx9gy4/bodies.xml?dl=1"
httplevels="http://dl.dropbox.com/s/rk4wvu0f2k8bmpy/levels.xml?dl=1"

introsong="music/Port Saint Johns.mp3"
levelsong="music/Based On Clocks.mp3"
wonsong="music/Winning.mp3"
lostsong="music/Lost.mp3"

{ID=IPHONE "iPhone3,1", "iPhone4,1", "iPhone5,1"}
screenresolution=128

{ID=IPHONE "iPad3,1"}
screenresolution=104

{ID=IPHONE "iPhone1,2", "iPhone2,1", "iPod1,1", "iPod2,1"}
screenresolution=64

{ID=IPHONE "iPad1,1", "iPad2,1"}
screenresolution=52

{}

####################################################
[Util]
####################################################
#MemoryBreakpoint=160004

####################################################
[TRACE]
####################################################
GX_VERBOSE=0
LOADER=0
MEMORY=0
DEVICE=0
EXT=0
MYAPP=1

####################################################
[S3E]
####################################################
SplashscreenBkR=0
SplashscreenBkG=0
SplashscreenBkB=0

#{OS=android}
#SplashscreenWidth=640
#SplashscreenHeight=377
#SplashscreenFile=splashscreen.jpg
#SplashscreenMinTime=3000
#{}

IOSDispScaleFactor=200
DispFixRot=2

MemSize=30000000
MemSizeDebug=25000000

SysTraceToFile=0

KeyAbsOk=Enter

KeyAbsLeft=Left
KeyAbsRight=Right
KeyAbsUp=Up
KeyAbsDown=Down

KeyAbsGameA=P			# pause/resume
KeyAbsGameB=R			# restart
KeyAbsGameC=Backspace	# reload
KeyAbsGameD=Esc		# quit

KeyAbsASK=T			# not used
KeyAbsBSK=B			# not used

{OS=android}
KeyAbsGameA=Menu
KeyAbsGameD=Back
{}

####################################################
[RESMANAGER]
####################################################
ResBuildStyle=gles1

####################################################
[Gx]
####################################################
DataCacheSize=262144
#NumTPages=256
#NumU256PaletteCacheBlocks=32
VertCacheSize=4096

####################################################
[GxFont]
####################################################
CacheTextureMaxSize=512

####################################################
[GL]
####################################################
EGL_SAMPLE_BUFFERS=1
EGL_SAMPLES=4			# Use super-sampling if available. Change to 2 for cheaper multi-sampling
