/* general formatting */
body {
	font-size: 12px;
	font-family: Arial;
}

/* application framework */
.meemabbutton {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.meemabbutton:hover {
	cursor: pointer;
}

.page {
	width: 480px;
	height: 320px;

    border-style: solid;
    border-width: 1px;
}

.debug {
	width: 480px;

	background-color: lightgray;
    border-style: solid;
    border-width: 1px;
	font-size: 10px;
	font-family: monospace;
}

/* specific */
#menupanel {
	width: 120px;
}

#visualpanel {
	width: 180px;
}

#contentpanel {
}



