<config platform="android-fat" template="android-fat (default)">Created: Thu Dec 3 09:46:34 2015
By: oliver
Using Template: android-fat (default)

&lt;description to go here><option value="" name="android-icon-dir" fromDef="true"/>
    <option value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group" fromDef="true"/>
    <option value="" name="android-icon-gallery" fromDef="true"/>
    <option value="" name="android-icon-nonstandard" fromDef="true"/>
    <option value="" name="android-external-res" fromDef="true"/>
    <option value="" name="android-external-assets" fromDef="true"/>
    <option value="1" name="android-install-location" fromDef="true"/>
    <option value="com.Oliver C. Lanz.Kidbook" name="android-pkgname" fromDef="true"/>
    <option value="marketing/icons" name="icon" fromDef="false"/>
    <option value="marketing/splashscreens" name="splashscreen" fromDef="false"/>
    <option value="1" name="splashscreen-use-all" fromDef="false"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Kidbook" name="name" fromDef="true"/>
    <option value="Kidbook" name="caption" fromDef="true"/>
    <option value="Oliver C. Lanz" name="provider" fromDef="false"/>
    <option value="2010-2015" name="copyright" fromDef="false"/>
    <option value="1.8.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="android-manifest" fromDef="true"/>
    <option value="" name="android-custom-activity" fromDef="true"/>
    <option value="" name="android-extra-manifest" fromDef="true"/>
    <option value="" name="android-extra-application-manifest" fromDef="true"/>
    <option value="" name="android-supports-gl-texture" fromDef="true"/>
    <option value="" name="android-version-name" fromDef="true"/>
    <option value="" name="android-version-code" fromDef="true"/>
    <option value="0" name="android-target-sdk-version" fromDef="true"/>
    <option value="0" name="android-min-sdk-version" fromDef="true"/>
    <option value="" name="android-unsigned" fromDef="true"/>
    <option value="" name="android-tm" fromDef="true"/>
</config>
