<config template="android (default)" platform="android">Created: Sun Oct 27 13:53:35 2013
By: oliver
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" fromDef="true" value=""/>
    <option name="android-icon-group" fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>"/>
    <option name="android-icon-gallery" fromDef="true" value=""/>
    <option name="android-icon-nonstandard" fromDef="true" value=""/>
    <option name="android-external-res" fromDef="true" value=""/>
    <option name="android-install-location" fromDef="true" value="1"/>
    <option name="android-pkgname" fromDef="true" value="com.Oliver C. Lanz.Kidbook"/>
    <option name="icon" fromDef="false" value="marketing/icons"/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Kidbook"/>
    <option name="caption" fromDef="true" value="Kidbook"/>
    <option name="provider" fromDef="false" value="Oliver C. Lanz"/>
    <option name="copyright" fromDef="false" value="2010-2013"/>
    <option name="version" fromDef="false" value="1.7.4"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="android-manifest" fromDef="true" value=""/>
    <option name="android-custom-activity" fromDef="true" value=""/>
    <option name="android-extra-manifest" fromDef="true" value=""/>
    <option name="android-extra-application-manifest" fromDef="true" value=""/>
    <option name="android-extra-strings" fromDef="true" value=""/>
    <option name="android-supports-gl-texture" fromDef="true" value=""/>
    <option name="android-unsigned" fromDef="true" value=""/>
</config>
