<config template="bb10 (default)" platform="bb10">Created: Sun Oct 27 13:53:35 2013
By: oliver
Using Template: bb10 (default)

&lt;description to go here><option fromDef="true" value="" name="blackberry-author"/>
    <option fromDef="true" value="" name="blackberry-authorid"/>
    <option fromDef="true" value="" name="blackberry-hostname"/>
    <option fromDef="true" value="" name="blackberry-password"/>
    <option fromDef="false" value="marketing/icons" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="false" value="1" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="Kidbook" name="name"/>
    <option fromDef="true" value="Kidbook" name="caption"/>
    <option fromDef="false" value="Oliver C. Lanz" name="provider"/>
    <option fromDef="false" value="2010-2013" name="copyright"/>
    <option fromDef="false" value="1.7.4" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="blackberry-phone-icon"/>
    <option fromDef="true" value="" name="blackberry-permissions-access-shared"/>
    <option fromDef="true" value="" name="blackberry-permissions-access-internet"/>
    <option fromDef="true" value="" name="blackberry-permissions-post-notification"/>
    <option fromDef="true" value="" name="blackberry-permissions-read-device-identifying-information"/>
    <option fromDef="true" value="" name="blackberry-permissions-read-geolocation"/>
    <option fromDef="true" value="" name="blackberry-permissions-record-audio"/>
    <option fromDef="true" value="" name="blackberry-permissions-use-camera"/>
</config>
