<config platform="iphone" template="iphone (default)">Created: Fri Dec 13 17:36:37 2013
By: oliver
Using Template: iphone (default)

&lt;description to go here>
<option name="iphone-application-type" value="&quot;universal&quot;" fromDef="true"/>
    <option name="iphone-appid" value="com.Oliver C. Lanz.Kidbook" fromDef="true"/>
    <option name="iphone-icon-dir" value="" fromDef="true"/>
    <option name="iphone-icon-7-group" value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-icon-7-search-group" value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-prerendered-icon" value="" fromDef="true"/>
    <option name="iphone-splash-dir" value="" fromDef="true"/>
    <option name="iphone-splash-group" value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@x2~iphone;&lt;none>;-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>" fromDef="true"/>
    <option name="iphone-show-status-bar" value="" fromDef="true"/>
    <option name="icon" value="marketing/icons" fromDef="false"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="1" fromDef="false"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="Kidbook" fromDef="true"/>
    <option name="caption" value="Kidbook" fromDef="true"/>
    <option name="provider" value="Oliver C. Lanz" fromDef="false"/>
    <option name="copyright" value="2010-2013" fromDef="false"/>
    <option name="version" value="1.7.4" fromDef="false"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="itunes-artwork" value="" fromDef="true"/>
    <option name="iphone-icon-group" value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-icon-search-group" value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>" fromDef="true"/>
    <option name="iphone-nosign" value="" fromDef="true"/>
    <option name="iphone-sign-for-distribution" value="" fromDef="true"/>
    <option name="iphone-provisioning-profile" value="" fromDef="true"/>
    <option name="iphone-signing-identity" value="" fromDef="true"/>
    <option name="iphone-region" value="English" fromDef="true"/>
    <option name="iphone-info-plist" value="" fromDef="true"/>
    <option name="iphone-persistent-wifi" value="" fromDef="true"/>
    <option name="iphone-backgroundmode-audio" value="" fromDef="true"/>
    <option name="iphone-app-fonts" value="" fromDef="true"/>
    <option name="iphone-bundle-localisations" value="" fromDef="true"/>
    <option name="iphone-bundle-url-name" value="" fromDef="true"/>
    <option name="iphone-bundle-url-schemes" value="" fromDef="true"/>
</config>
