<config platform="iphone" template="iphone (default)">Created: Fri Dec 13 17:36:37 2013
By: oliver
Using Template: iphone (default)

&lt;description to go here><option name="iphone-application-type" fromDef="true" value="&quot;universal&quot;"/>
    <option name="iphone-appid" fromDef="true" value="com.Oliver C. Lanz.Kidbook"/>
    <option name="iphone-icon-dir" fromDef="true" value=""/>
    <option name="iphone-icon-7-group" fromDef="true" value="-76;&lt;none>;-120;&lt;none>;-76@2x;&lt;none>"/>
    <option name="iphone-icon-7-search-group" fromDef="true" value="-Small;&lt;none>;-Small-40;&lt;none>;-Small@2x;&lt;none>;-Small-40@2x;&lt;none>"/>
    <option name="iphone-prerendered-icon" fromDef="true" value=""/>
    <option name="iphone-splash-dir" fromDef="true" value=""/>
    <option name="iphone-show-status-bar" fromDef="true" value=""/>
    <option name="iphone-splash-group-iphone" fromDef="true" value="~iphone;&lt;none>;@2x~iphone;&lt;none>;-568h@x2~iphone;&lt;none>"/>
    <option name="iphone-splash-group-ipad" fromDef="true" value="-Portrait~ipad;&lt;none>;-PortraitUpsideDown~ipad;&lt;none>;-Landscape~ipad;&lt;none>;-LandscapeRight~ipad;&lt;none>;-Portrait@2x~ipad;&lt;none>;-PortraitUpsideDown@2x~ipad;&lt;none>;-Landscape@2x~ipad;&lt;none>;-LandscapeRight@2x~ipad;&lt;none>"/>
    <option name="icon" fromDef="false" value="marketing/icons"/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Kidbook"/>
    <option name="caption" fromDef="true" value="Kidbook"/>
    <option name="provider" fromDef="false" value="Oliver C. Lanz"/>
    <option name="copyright" fromDef="false" value="2010-2013"/>
    <option name="version" fromDef="false" value="1.7.4"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="itunes-artwork" fromDef="true" value=""/>
    <option name="iphone-icon-group" fromDef="true" value=";&lt;none>;-72;&lt;none>;@2x;&lt;none>;-72@2x;&lt;none>"/>
    <option name="iphone-icon-search-group" fromDef="true" value="-Small;&lt;none>;-Small-50;&lt;none>;-Small@2x;&lt;none>;-Small-50@2x;&lt;none>"/>
    <option name="iphone-nosign" fromDef="true" value=""/>
    <option name="iphone-sign-for-distribution" fromDef="true" value=""/>
    <option name="iphone-provisioning-profile" fromDef="true" value=""/>
    <option name="iphone-signing-identity" fromDef="true" value=""/>
    <option name="iphone-region" fromDef="true" value="English"/>
    <option name="iphone-info-plist" fromDef="true" value=""/>
    <option name="iphone-persistent-wifi" fromDef="true" value=""/>
    <option name="iphone-backgroundmode-audio" fromDef="true" value=""/>
    <option name="iphone-app-fonts" fromDef="true" value=""/>
    <option name="iphone-bundle-localisations" fromDef="true" value=""/>
    <option name="iphone-bundle-url-name" fromDef="true" value=""/>
    <option name="iphone-bundle-url-schemes" fromDef="true" value=""/>
</config>
