<config platform="iphone-fat" template="iphone-fat (default)">Created: Mon Oct 19 09:37:52 2015
By: oliver
Using Template: iphone-fat (default)

&lt;description to go here><option value="&quot;universal&quot;" name="iphone-application-type" fromDef="true"/>
    <option value="com.gigglingbits.kidbook.animals" name="iphone-appid" fromDef="false"/>
    <option value="" name="iphone-show-status-bar" fromDef="true"/>
    <option value="" name="iphone-uiviewcontroller-based-status-bar" fromDef="true"/>
    <option value="6.0" name="iphone-minimum-ios-version" fromDef="false"/>
    <option value="marketing/icons" name="iphone-icon-dir" fromDef="false"/>
    <option value="" name="iphone-icon-extra" fromDef="true"/>
    <option value="" name="iphone-prerendered-icon" fromDef="true"/>
    <option value="" name="iphone-skip-icon-generation" fromDef="true"/>
    <option value="marketing/splashscreens" name="iphone-launch-dir" fromDef="false"/>
    <option value="" name="iphone-launch-storyboard" fromDef="true"/>
    <option value="" name="iphone-launch-extra" fromDef="true"/>
    <option value="" name="iphone-skip-launch-generation" fromDef="true"/>
    <option value="" name="iphone-disable-launch-images" fromDef="true"/>
    <option value="" name="iphone-allow-launch-rotation" fromDef="true"/>
    <option value="marketing/icons" name="icon" fromDef="false"/>
    <option value="marketing/splashscreens" name="splashscreen" fromDef="false"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="XHighRes" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Kidbook" name="name" fromDef="true"/>
    <option value="Kidbook" name="caption" fromDef="true"/>
    <option value="Oliver C. Lanz" name="provider" fromDef="false"/>
    <option value="2010-2015" name="copyright" fromDef="false"/>
    <option value="1.8.0" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="English" name="iphone-region" fromDef="true"/>
    <option value="" name="iphone-info-plist" fromDef="true"/>
    <option value="" name="iphone-info-plist-override" fromDef="true"/>
    <option value="" name="iphone-extra-string" fromDef="true"/>
    <option value="" name="iphone-info-plist-sniplets" fromDef="true"/>
    <option value="" name="iphone-persistent-wifi" fromDef="true"/>
    <option value="" name="iphone-backgroundmode-audio" fromDef="true"/>
    <option value="" name="iphone-app-fonts" fromDef="true"/>
    <option value="" name="iphone-bundle-localisations" fromDef="false"/>
    <option value="" name="iphone-bundle-url-name" fromDef="true"/>
    <option value="" name="iphone-bundle-url-schemes" fromDef="true"/>
    <option value="" name="itunes-artwork" fromDef="true"/>
    <option value="" name="iphone-nosign" fromDef="false"/>
    <option value="1" name="iphone-sign-for-distribution" fromDef="false"/>
    <option value="deploy/iOS/distribution.mobileprovision" name="iphone-provisioning-profile" fromDef="false"/>
    <option value="" name="iphone-disable-testflight" fromDef="true"/>
    <option value="" name="iphone-signing-identity" fromDef="false"/>
    <option value="1" name="iphone-testflight" fromDef="false"/>
</config>
