<config template="playbook (default)" platform="playbook">Created: Sun Oct 27 13:53:31 2013
By: oliver
Using Template: playbook (default)

&lt;description to go here><option fromDef="true" name="blackberry-author" value=""/>
    <option fromDef="true" name="blackberry-authorid" value=""/>
    <option fromDef="true" name="blackberry-permissions-access-shared" value=""/>
    <option fromDef="true" name="blackberry-hostname" value=""/>
    <option fromDef="true" name="blackberry-password" value=""/>
    <option fromDef="false" name="icon" value="marketing/icons"/>
    <option fromDef="true" name="splashscreen" value=""/>
    <option fromDef="true" name="splashscreen-use-all" value=""/>
    <option fromDef="true" name="splashscreen-auto-onblack" value=""/>
    <option fromDef="true" name="assets" value="Default"/>
    <option fromDef="false" name="embed-icf" value="1"/>
    <option fromDef="true" name="config" value="data/app.icf"/>
    <option fromDef="true" name="name" value="Kidbook"/>
    <option fromDef="true" name="caption" value="Kidbook"/>
    <option fromDef="false" name="provider" value="Oliver C. Lanz"/>
    <option fromDef="false" name="copyright" value="2010-2013"/>
    <option fromDef="false" name="version" value="1.7.4"/>
    <option fromDef="true" name="version-string" value=""/>
    <option fromDef="true" name="blackberry-playbook-icon" value=""/>
</config>
