<config platform="playbook" template="playbook (default)">Created: Sun Oct 27 13:53:31 2013
By: oliver
Using Template: playbook (default)

&lt;description to go here><option name="blackberry-author" fromDef="true" value=""/>
    <option name="blackberry-authorid" fromDef="true" value=""/>
    <option name="blackberry-hostname" fromDef="true" value=""/>
    <option name="blackberry-password" fromDef="true" value=""/>
    <option name="icon" fromDef="false" value="marketing/icons"/>
    <option name="splashscreen" fromDef="true" value=""/>
    <option name="splashscreen-use-all" fromDef="true" value=""/>
    <option name="splashscreen-auto-onblack" fromDef="true" value=""/>
    <option name="assets" fromDef="true" value="Default"/>
    <option name="embed-icf" fromDef="false" value="1"/>
    <option name="config" fromDef="true" value="data/app.icf"/>
    <option name="name" fromDef="true" value="Kidbook"/>
    <option name="caption" fromDef="true" value="Kidbook"/>
    <option name="provider" fromDef="false" value="Oliver C. Lanz"/>
    <option name="copyright" fromDef="false" value="2010-2013"/>
    <option name="version" fromDef="false" value="1.7.4"/>
    <option name="version-string" fromDef="true" value=""/>
    <option name="blackberry-playbook-icon" fromDef="true" value=""/>
    <option name="blackberry-permissions-access-shared" fromDef="true" value=""/>
    <option name="blackberry-permissions-access-internet" fromDef="true" value=""/>
    <option name="blackberry-permissions-post-notification" fromDef="true" value=""/>
    <option name="blackberry-permissions-read-device-identifying-information" fromDef="true" value=""/>
    <option name="blackberry-permissions-read-geolocation" fromDef="true" value=""/>
    <option name="blackberry-permissions-record-audio" fromDef="true" value=""/>
    <option name="blackberry-permissions-use-camera" fromDef="true" value=""/>
</config>
