<config template="project (default)" platform="project">Created: Sun Oct 27 13:53:24 2013
By: oliver
Using Template: project (default)

&lt;description to go here><option value="marketing/icons" name="icon" fromDef="false"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="1" name="embed-icf" fromDef="false"/>
    <option value="data/app.icf" name="config" fromDef="true"/>
    <option value="Kidbook" name="name" fromDef="true"/>
    <option value="Kidbook" name="caption" fromDef="true"/>
    <option value="Oliver C. Lanz" name="provider" fromDef="false"/>
    <option value="2010-2013" name="copyright" fromDef="false"/>
    <option value="1.7.4" name="version" fromDef="false"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
