<config template="project (default)" platform="project">Created: Sun Oct 27 13:53:24 2013
By: oliver
Using Template: project (default)

&lt;description to go here><option value="marketing/icons" fromDef="false" name="icon"/>
    <option value="marketing/splashscreens" fromDef="false" name="splashscreen"/>
    <option value="1" fromDef="false" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="1" fromDef="false" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="Kidbook" fromDef="true" name="name"/>
    <option value="Kidbook" fromDef="true" name="caption"/>
    <option value="Oliver C. Lanz" fromDef="false" name="provider"/>
    <option value="2010-2015" fromDef="false" name="copyright"/>
    <option value="1.8.0" fromDef="false" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
