<config template="tizen (default)" platform="tizen">Created: Thu Nov 7 22:56:15 2013
By: oliver
Using Template: tizen (default)

&lt;description to go here><option fromDef="true" value="" name="tizen-icon"/>
    <option fromDef="true" value="" name="tizen-appid"/>
    <option fromDef="true" value="" name="tizen-manifest"/>
    <option fromDef="true" value="" name="tizen-hw-acceleration"/>
    <option fromDef="true" value="" name="tizen-signed"/>
    <option fromDef="true" value="" name="tizen-device-id"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="" name="config"/>
    <option fromDef="true" value="Kidbook" name="name"/>
    <option fromDef="true" value="Kidbook" name="caption"/>
    <option fromDef="true" value="Giggling Bits" name="provider"/>
    <option fromDef="true" value="(C) Giggling Bits" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="tizen-project-url"/>
    <option fromDef="true" value="" name="tizen-author-key"/>
    <option fromDef="true" value="" name="tizen-author-password"/>
    <option fromDef="true" value="" name="tizen-author-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist1-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist1-key"/>
    <option fromDef="true" value="" name="tizen-dist1-password"/>
    <option fromDef="true" value="" name="tizen-dist2-CA-path"/>
    <option fromDef="true" value="" name="tizen-dist2-key"/>
    <option fromDef="true" value="" name="tizen-dist2-password"/>
    <option fromDef="true" value="" name="tizen-dist2-CA-root-path"/>
</config>
