<config template="tizen (default)" platform="tizen">Created: Thu Nov 7 22:56:15 2013
By: oliver
Using Template: tizen (default)

&lt;description to go here><option value="" name="tizen-icon" fromDef="true"/>
    <option value="" name="tizen-appid" fromDef="true"/>
    <option value="" name="tizen-manifest" fromDef="true"/>
    <option value="" name="tizen-hw-acceleration" fromDef="true"/>
    <option value="" name="tizen-signed" fromDef="true"/>
    <option value="" name="tizen-author-key" fromDef="true"/>
    <option value="" name="tizen-author-password" fromDef="true"/>
    <option value="" name="tizen-device-id" fromDef="true"/>
    <option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="Kidbook" name="name" fromDef="true"/>
    <option value="Kidbook" name="caption" fromDef="true"/>
    <option value="Giggling Bits" name="provider" fromDef="true"/>
    <option value="(C) Giggling Bits" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
    <option value="" name="tizen-project-url" fromDef="true"/>
    <option value="" name="tizen-author-CA-path" fromDef="true"/>
    <option value="" name="tizen-dist1-CA-path" fromDef="true"/>
    <option value="" name="tizen-dist1-key" fromDef="true"/>
    <option value="" name="tizen-dist1-password" fromDef="true"/>
    <option value="" name="tizen-dist2-CA-path" fromDef="true"/>
    <option value="" name="tizen-dist2-key" fromDef="true"/>
    <option value="" name="tizen-dist2-password" fromDef="true"/>
    <option value="" name="tizen-dist2-CA-root-path" fromDef="true"/>
</config>
