<config template="wp8 (default)" platform="wp8">Created: Sun Oct 27 13:53:35 2013
By: oliver
Using Template: wp8 (default)

&lt;description to go here><option fromDef="true" value="" name="wp8-author"/>
    <option fromDef="true" value="" name="wp8-publisher-id"/>
    <option fromDef="true" value="" name="wp8-description"/>
    <option fromDef="true" value="" name="wp8-product-id"/>
    <option fromDef="true" value="" name="wp8-exclude-wvga"/>
    <option fromDef="true" value="" name="wp8-exclude-wxga"/>
    <option fromDef="true" value="" name="wp8-exclude-720p"/>
    <option fromDef="true" value="" name="wp8-higher-mem"/>
    <option fromDef="true" value="" name="wp8-exclude-low-mem"/>
    <option fromDef="false" value="marketing/icons" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="false" value="1" name="embed-icf"/>
    <option fromDef="true" value="data/app.icf" name="config"/>
    <option fromDef="true" value="Kidbook" name="name"/>
    <option fromDef="true" value="Kidbook" name="caption"/>
    <option fromDef="false" value="Oliver C. Lanz" name="provider"/>
    <option fromDef="false" value="2010-2013" name="copyright"/>
    <option fromDef="false" value="1.7.4" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-title"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-back-title"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-back-content"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-small-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-medium-front-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-medium-back-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-supports-large"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-front-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-back-image"/>
    <option fromDef="true" value="" name="wp8-tile-fliptemplate-large-back-content"/>
    <option fromDef="true" value="" name="wp8-custom-manifest"/>
    <option fromDef="true" value="" name="wp8-custom-manifest-fill"/>
    <option fromDef="true" value="" name="wp8-genre-isgame"/>
    <option fromDef="true" value="" name="wp8-ext-capabilities"/>
</config>
