<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="serverConfiguration" type="Server.Configuration.ServerConfigurationSection, Server"
             allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <serverConfiguration>
    <listeners>
      <listener localOnly="true" port="8888" serverCertificate="" />
      <listener localOnly="true" port="8889" serverCertificate="" />
      <listener localOnly="true" port="8890" serverCertificate="MyCertificate" />
    </listeners>
  </serverConfiguration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>